
.body {
  position: relative;

}
.avatar {
  position: absolute;
  margin-top:30px;
  margin-left:600px;
  width: 300px;
}
.avatarTitle {
  position: absolute;
  top:-350px;
  right:-75px;
  margin-left:600px;
  width: 150px;
}
