
.body {
  position: relative;

  margin-left:350px;
  margin-top:50px;
  width: 390px;
}
.emphasized{
 color: green;
}

.pagination{
  position: absolute;
}

.card{
  position: absolute;

  margin-left:800px;
  margin-top:200px;
  width: 336px;
}
.dataPicker{
  position: absolute;
  margin-left:800px;
  margin-top:60px;
  width: 336px;
}
.dataPicker2{
  position: absolute;
  margin-left:810px;
  margin-top:30px;
  width: 336px;
}

