
.body {
  position: relative;

  margin-left:300px;
  margin-top:50px;
  width: 336px;
}

.card{
  position: absolute;

  margin-left:800px;
  margin-top:50px;
  width: 336px;
}
.dataPicker{
  position: absolute;
  margin-left:800px;
  margin-top:400px;
  width: 336px;
}
.dataPicker2{
  position: absolute;
  margin-left:810px;
  margin-top:370px;
  width: 336px;
}

